@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-custom-hover: #ff69b4;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
   --bg-color: #1a1a1a;
    --snd-bg-color: #2b2b2b;
    --text-color: #ffffff;
    --main-color: #ff69b4;
    --background: #0a0a0a;
    --foreground: #ededed;
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
